<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   
</head>

<body>
    <div class="container">
        <form action="/getRate" method="post">
            <input type="text" name="wieght">
            <select name="postType">
                <option value="stamped">Letters (stamped)</option>
                <option value="metered">Letters (metered)</option>
                <option value="flats">Large Envelopes (flats)</option>
                <option value="package">First-Class Package Service—Retail</option>
            </select>
            <input type="submit" name="submit" value="Submit">
            
        </form>
        
    </div>

</body>

</html>